/node_modules
/public/hot
/public/storage
/public/myNFTStorage/image
/public/myNFTStorage/input
/public/myNFTStorage/Rinkeby Server
/public/myNFTStorage/Rinkeby Server (old)
/public/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
